 .wp-list-table .column-gcmi-icon {
     width: 5%;
}
 .wp-list-table .column-gcmi-dataname {
     width: 15%;
}
 .wp-list-table .column-gcmi-rows {
     width: 5%;
     text-align: right;
}
 .wp-list-table .column-gcmi-remotedate {
     width: 18%;
}
 .wp-list-table .column-gcmi-localdate {
     width: 18%;
}
 .wp-list-table .column-gcmi-dataURL {
     width: 34%;
}
 .gcmi-fb-main-container {
     padding-right: 10px;
     display: flex;
     flex-flow: column;
     height: 100%;
}
 .gcmi-fb-main-container .gcmi-fb-filters-container{
     flex: 0 1 auto;
}
 .gcmi-fb-box-container{
     display: contents;
}
 .gcmi-fb-main-container .gcmi-fb-tabs-container{
     flex: 1 1 100px;
}
 .gcmi-fb-main-container .dummy-footer {
     flex: 0 1 40px;
}
 .gcmi-fb-regioni-container{
     display: grid;
     grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
     row-gap: 12px;
}
.gcmi-fb-checkall-regioni-container{
    grid-row: 1/1;
    grid-column: 1/-1;
    background-color: #f6f7f7;
}
 .gcmi-fb-regione-item {
     white-space: nowrap;
}
 .gcmi-fb-province-container {
     display: grid;
     grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
     row-gap: 20px;
     column-gap: 15px;
}
 .gcmi-fb-regione-blocco, .gcmi-fb-lettera-blocco {
     display: flex;
     flex-direction: column;
     row-gap: 12px;
}
 .gcmi-fb-checkall-container{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     gap: 20px;
     align-items: end;
     background-color: #f6f7f7;
}
 .gcmi-fb-regione-name {
     font-weight: bold;
}
 .gcmi-fb-provincia-item {
     white-space: normal;
}
 .gcmi-fb-comuni-container {
     display: grid;
     grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
     row-gap: 20px;
     column-gap: 15px;
}
 .gcmi-fb-lettera-comune {
     font-weight: bold;
}
 .gcmi-fb-comune-item {
     white-space: nowrap;
}
 .gcmi-fb-filters-container{
     margin-left: auto;
     margin-right: 0;
     box-sizing:border-box;
     max-width: 750px;
}
 .gcmi-fb-button-delete-wrapper{
     white-space: nowrap;
}
 .gcmi-fb-button-edit-wrapper{
     white-space: nowrap;
}
 .gcmi-fb-button-new-wrapper{
     white-space: nowrap;
}
 .gcmi-fb-commit-buttons-wrapper {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-content: flex-start;
     gap: 5px;
     max-width: min-content;
}
 .gcmi-fb-table-name-wrapper {
     flex-grow: 2;
     flex-basis: 0;
}
 .gcmi-fb-button-new-wrapper{
     flex-grow: 1;
     flex-basis: 0;
     white-space: nowrap;
}
 .gcmi-fb-button-reset-wrapper{
     flex-grow: 1;
     flex-basis: 0;
     white-space: nowrap;
}
 .gcmi-fb-button-save-wrapper{
     flex-grow: 1;
     flex-basis: 0;
     white-space: nowrap;
}
 .gcmi-fb-button{
     text-align: center;
     width: 100%;
}
 .gcmi-fb-button > span {
     vertical-align: middle;
     margin-right: 4px;
     margin-top: 0;
     margin-bottom: 4px;
}
 .gcmi-fb-button-delete-filter:hover:not(:disabled) {
     box-shadow: inset 0 0 0 1px var(--wp-components-color-accent-darker-10,var(--wp-admin-theme-color-darker-10,#2145e6));
}
 .gcmi-fb-button-delete-filter{
     --wp-components-color-accent: #cc1818;
     --wp-components-color-accent-darker-10: #9e1313;
     --wp-components-color-accent-darker-20: #710d0d background: transparent;
     color: var(--wp-components-color-accent,var(--wp-admin-theme-color,#3858e9)) !important;
     outline: 1px solid transparent;
     border-color:var(--wp-components-color-accent,var(--wp-admin-theme-color,#3858e9)) !important;
}
 .gcmi-fb-filters-name{
     text-align: left;
     font-style: italic;
}
/** * Ciprian on Monday, April 19, 2021 * Checkbox Toggle UI * * https://getbutterfly.com/on-off-toggle-replacement-for-wordpress-checkboxes/ */
 input[type="checkbox"].gcmi-ui-toggle {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     -webkit-tap-highlight-color: transparent;
     width: auto;
     height: auto;
     vertical-align: middle;
     position: relative;
     border: 0;
     outline: 0;
     cursor: pointer;
     margin: 0 4px;
     background: none;
     box-shadow: none;
}
 input[type="checkbox"].gcmi-ui-toggle:focus {
     box-shadow: none;
}
 input[type="checkbox"].gcmi-ui-toggle:after {
     content: '';
     font-size: 8px;
     font-weight: 400;
     line-height: 18px;
     text-indent: -14px;
     color: #ffffff;
     width: 36px;
     height: 18px;
     display: inline-block;
     background-color: #a7aaad;
     border-radius: 72px;
     box-shadow: 0 0 12px rgb(0 0 0 / 15%) inset;
}
 input[type="checkbox"].gcmi-ui-toggle:before {
     content: '';
     width: 14px;
     height: 14px;
     display: block;
     position: absolute;
     top: 2px;
     left: 2px;
     margin: 0;
     border-radius: 50%;
     background-color: #ffffff;
}
 input[type="checkbox"].gcmi-ui-toggle:checked:before {
     left: 20px;
     margin: 0;
     background-color: #ffffff;
}
 input[type="checkbox"].gcmi-ui-toggle, input[type="checkbox"].gcmi-ui-toggle:before, input[type="checkbox"].gcmi-ui-toggle:after, input[type="checkbox"].gcmi-ui-toggle:checked:before, input[type="checkbox"].gcmi-ui-toggle:checked:after {
     transition: ease .15s;
}
 input[type="checkbox"].gcmi-ui-toggle:checked:after {
     content: 'ON';
     background-color: #2271b1;
}